# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Build
dist

.DS_Store

# TypeScript cache
*.tsbuildinfo

# Optional eslint cache
.eslintcache

# Logs
logs
*.log
npm-debug.log*

# Test Coverage
__tests__/coverage